body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

#fStyled{
    font-family: 'Montserrat';
    width: 100vw;
    font-weight: 500;
    font-size: 0.8em;
    text-align: center;
    color: #BDBDBD;
}