#mStyleTitle{
    font-family: monospace;
    font-weight: 700;
    font-size: 2em;
    color: #333333;
}
#mStyleText {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    font-family: monospace;
    font-size: 1.4em;
    color: #4F4F4F;
}